@model CetCources.Database.Child

@using Resources;

@{
    ViewBag.Title = CommonRes.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var parentId = Session[CetCources.Controllers.ChildController.ParentId] as string;
}

<h2 class="text-center">@CommonRes.Delete</h2>

<h3 class="text-center">@ChildRes.AreYouSure</h3>
<div>
    <h4 class="text-center">@ChildRes.Child</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDateString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDateString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearGroup.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearGroup.GroupName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseFrequency.FrequencyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseFrequency.FrequencyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.School.SchoolName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.School.SchoolName)
            </dd>*@


        <dt>
            @Html.DisplayNameFor(model => model.Inactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inactive)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@CommonRes.Delete" class="btn btn-default" /> |
            @Html.ActionLink(CommonRes.BackToList, "Index", string.IsNullOrEmpty(parentId) ? null : new { userid = parentId })
        </div>
    }
</div>


<style>
    .dl-horizontal > dt,
    .dl-horizontal > dd {
        padding-bottom: 10px;
    }
</style>